.navBar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: white;
    margin: auto;

}

.navBarWraper{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navBarLogo{
    width: 19%;
    display: flex;
    align-items: center;
justify-content: center;
}

.navBarLogoSpan{
    color: #FF4141 ;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.navBarOptions{
    width: 50%;
}
.navBarOptionsList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBarOptionsListElement{
    margin: 0;
    padding:15px 0;
    color: #919192;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.navlink{
    text-decoration: none;
    margin: 0;
    padding:15px 0;
    color: #919192;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.navlink:hover{
    color: #FF4141 ;
}
.selected{
    color: #FF4141;
    border-top: 3px solid #FF4141;
}

.navBarFunc{
    width: 25%;
    
}
.navBarFuncList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
margin: 0 20%;
}


.navBarFuncListElement{
    margin: 0 3%;
    padding: 0;
    color: #919192;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.navBarFuncListElement:hover{
    color: #FF4141 ;
}