.postSectionPage{
    margin: 2% auto;
    width: 80%;
    background-color: #f2f5f2;

    
}

.postSectionPageWraper{

display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.postSectionTitle{
    margin: 3% 0%;
    padding: 1% 2%;
    border-bottom: #FF4141 3px solid;
    font-size: 3rem;
    font-weight: 500;
    color:#FF4141 ;
    text-transform: uppercase;
}
.postContent{
    width: 80%;
    margin: 3% 0;
    padding: 2% 0;
    border-bottom: gray 2px dashed;
}

.postContentP{
    font-size: 1.5rem;
    color: #383838;
    line-height: 2.5rem;
}

